apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-go-basic-dockerfile-only-private-20j0
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-cupt-tenant/mc-golang-nested/devfile-sample-go-basic-dockerfile-only-private-20j0@sha256:a32329d746aa55dc3fc0719efe15c06ff42542445fd1ceb86e29cf5cedaccca1
        name: container-image
        resources: {}
status: {}
